# ===== .NET =====
bin/
obj/
*.user
*.suo
.vs/
publish/
*.log

# ===== Segredos e ambiente =====
.env
.env.*
*.pfx
appsettings.*.Local.json

# ===== Node / Vue =====
node_modules/
dist/
dist-ssr/
.vite/
coverage/

# ===== Sistema / editor =====
.DS_Store
Thumbs.db
.idea/
